# <center>Loops Practice Questions</center>

### <center>Difficulty Level : Easy</center>

- Create a program to display the first 10 even numbers in reverse order in a single line using **end** parameter of print function. 

    **Note :** Use both the loops.

In [9]:
for i in range(20,0,-2): print(i, end=' ')

20 18 16 14 12 10 8 6 4 2

- Create a program that displays numbers starting from 20 to 40 with a difference of 5 in a single line using **end** parameter of print function.
    
    **Note :** Use both the loops.

In [10]:
for i in range(20,41,5): print(i, end=' ')

20 25 30 35 40

- Create a program to display the cube of first 5 numbers in single line using **end** parameter of print function.

    **Note :** Use both the loops.

In [17]:
for i in range(1,4): print(i**3)

1
8
27

In [18]:
num = 1

while num<4: 
    print(num**3) 
    num+=1

1
8
27

- Create a program to display the factorial of a number.

    **Note :** Use both the loops with positive and negative step values.

In [27]:
num=int(input("Enter the number: "))
factorial = 1

while num>1:
    factorial*=num
    num=num-1

factorial

120

In [31]:
num=int(input("Enter the number: "))
factorial = 1

for i in range(1,num+1):
    factorial*=i

factorial

120

### <center>Difficulty Level : Medium</center>

- Create a program that keeps on accepting input from user until 0 is entered and print the sum of all the numbers entered at the end.

In [28]:
nums = []
while True:
  num = int(input("Input number: "))

  if num==0:
    break
  else:
    nums.append(num)

print("Sum of all numbers you gave: ", sum(nums))

Sum of all numbers you gave:  15

-  Create a program to print the following series for `n` terms where `n` is the number taken from the user.

   **Series :** 2,22,222,2222,...... n terms

In [45]:
count = int(input("Series iteration: "))

for i in range(num-1):
    for j in range(i):
        print("2", end="")
    print()

ValueError: invalid literal for int() with base 10: ''

### <center>Difficulty Level : Hard</center>

- Create a program that displays the first number divisible by 5 between 6 to 16 and then break the loop.

    **Note :** Use both the loops.

In [36]:
for i in range(6,16):
    if i%5==0:
        print(i)
        break

10

- Create a program that replicates the following output :

    **Note :** Use both the loops.

    The Multiplication Table of 2 


    2 x 1 = 2

    .

    .

    .

    The Multiplication Table of 3


    3 x 1 = 3

    .

    .

    .

    The Multiplication Table of 4


    4 x 1 = 4

    .

    .

    .

In [51]:
count = 4

for i in range(1,11): 
    print(count, "X", i, "=", count*i)

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

# <center>Happy Learning!</center>