# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

## Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
my_data = ['Aditya', 'Jaydeep', 'Sakshi']
my_series = pd.Series(my_data)

print(my_series)

0     Aditya
1    Jaydeep
2     Sakshi
dtype: object

In [3]:
my_data = [32,52,68]
my_series = pd.Series(my_data)

my_series

0    32
1    52
2    68
dtype: int64

## DataFrame

In [4]:
my_data = [('Aditya',32), ('Jaydeep',52), ('Sakshi',68)]
my_df = pd.DataFrame(my_data, columns=['Name','Roll No'])

my_df

      Name  Roll No
0   Aditya       32
1  Jaydeep       52
2   Sakshi       68

In [5]:
my_df['Name']

0     Aditya
1    Jaydeep
2     Sakshi
Name: Name, dtype: object

In [6]:
my_df['Roll No']

0    32
1    52
2    68
Name: Roll No, dtype: int64

# Reading Data